<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Autores</h1>
        <p>Andrés Delgado Gómez</p>
        <img src="/images/balon.jpeg">
    </body>
</html>